/* albumStyles.css */

table {
    background-color: darkgrey;
    font-family: "Apple Braille", Arial, Helvetica;
    font-size: 14px;

}

div{
    padding: 0;
    margin: 0;
    text-align: center;
}
