/* restaurantStylesV4.css */

header nav {

    background-color: brown;
    border-radius: 9px;
    padding: 7px;

}


footer {
    text-align: center;
    background-color: brown;
    padding: 5px;
    border-radius: 9px;
    margin-bottom: 0;

}




header nav a:link {

    color: black;
    text-decoration: underline;

}



header nav a:visited {

    color: green;

}

header nav a:hover{


    font-weight: bold;

}

header nav a:active {

    color: white;

    text-decoration: none;

}




header h1 {
    text-align: center;
    font-family: 'MyWebFont', Fallback, sans-serif;

}


@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

div.body{

    background-color: mediumseagreen;
}

td.label{

    font-weight: bold;
}
