/* restaurantStyles.css */

header nav {

    background-color: brown;
    border-radius: 9px;
    padding: 7px;

}

footer {
    text-align: center;
    background-color: brown;
    padding: 5px;
    border-radius: 9px;
    margin-bottom: 0;

}

a {
    color: white;
}

header h1 {
    text-align: center;

}